{% extends 'base.html' %}

{% block content %}
{% include "common/url_form.html" %}

<div class="container my-3">
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Short URL</th>
            <th scope="col">URL</th>
            <th scope="col">Note</th>
            <th scope="col">Action</th>
          </tr>
    </thead>
    <tbody>
    {% for surl in surls %}
    <tr>
    <td>{{ surl.short_url }}</td>
    <td>{{ surl.url }}</td>
    <td>{{ surl.note }}</td>
    <td>
        <a class="btn btn-danger btn-sm" href="{% url 'common:url_delete' pk=surl.id %}">삭제</a>
    </td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>




{% endblock %}